@charset "UTF-8";
@import url("grid.css");

img {
    max-width:100%;
    width:200px;
    height: auto;
}
a {
    display:block;
    color: #666;

    text-decoration-line: none;
}
a:hover { 
    color: #999;
}

/*ヘッダー
-------------------------------------*/
.header {
	display: flex;
    flex-direction: row;
    padding: 2rem 0 0 0;
}
.header h1{
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}


.header-box {
	margin-left: auto;
	margin-top: 8px;
}
.contact-button {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 2px 2px 3px 0 #333;
}
.contact-button:hover{
    transform: scale(1.2, 1.2);
}


nav ul {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
	margin: 1rem 0 0 0;
}
nav li {
	flex: 1 0 auto;
}
nav li a {
    text-decoration: none;
    text-align: center;
    width: 100%;
}
nav a:hover {
    background-color: #f7f7f7;    
}
nav a {
    padding: 0.5rem;
}

@media screen and (min-width: 768px){
/* PC時はMENUボタンを非表示 */
#open,#close {
    display: none !important;
}

#navi {
    display: block !important;
}
}

@media screen and (max-width: 768px){
.header {
	flex-direction: column;
    margin-bottom: 10px;
}
.header h1{
   border: none;

}
.header #open,#close  {
    position: absolute;
    top: 20px;
    right: 12px;
}
nav ul {
	flex-direction: column;
}
.header li {
	padding-top: 0;
}
/* スマホ時はMENUボタンを表示 */
#open,#close  {
    display: block;
    width: 50px;
    border: none;
    position: absolute;
    top: 20px;
    right: 12px;
}
/* スマホ時はメニューを非表示 */
#navi {
    display: none;
}
}
    
/*メイン画像
-------------------------------------*/
.mainimg img {
    width: 100vw;
}

/*メインコンテンツ
-------------------------------------*/
main {
    margin: 5rem 0 0 0;
}
section {
	margin: 5rem 0;
	padding: 3rem 0;
}
.gray-back {
	background-color: #f4f4f4;
}

/*スライダートップイメージ
-------------------------------------*/
.swiper-container {
    width: 100%;
    height: 500px;
}
.swiper-slide img{
    width:100%;
    height:100%;
}

.swiper-button-prev{
    color:white;
}
.swiper-button-prev,
.swiper-button-next {
	width: 48px; /* ボタンの幅 */
	height: 48px; /* ボタンの高さ */
	background-size: 48px 48px; /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
	margin-top: -24px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}




/*キャッチコピー
-------------------------------------*/
.catch {
    text-align: center;
}
.catch h2 {
    padding-bottom: 1rem;
}
.under {
    border-bottom: 0.4rem solid #000;
    padding:0 1rem 1rem 1rem;
}
.center {
	text-align: center;
	margin-bottom: 4rem;
}

/*申し込みの流れ
-------------------------------------*/
.flow.row {
	margin-bottom: 3rem;
}


/*　商品一覧
-------------------------------------*/
.item-list{
    display: flex;
 

}
.item{
    margin:auto;
}
.item img{
    width:50px;
    height:50px;
}

.item h3 {
    font-size: 12px;
}
.item p{
    font-size: 12px;
}


/*　スタッフ一覧
-------------------------------------*/
.staff-list{
    display: flex;
}
.staff{
    margin:auto;
}
.staff img{
    opacity: 1;
    background: #ffafbd;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width:50px;
    height:50px;
}
.staff img:hover{
    opacity: 0.7;
}
.staff-list h3{
    font-size: 12px;
}
.staff-list p{
    font-size: 12px;
}


/*　サービス一覧
-------------------------------------*/
.service-list{
    display: flex;
}
.service{
    text-align: center;
}
.service img{
    margin: auto;
    width:50px;
    height:50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.service img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.service h3{
    font-size: 12px;
}
.service p{
    font-size: 12px;
}

/*SNS一覧
-------------------------------------*/
.SNS-icon{ 
    display: flex;
}
.SNS {
    margin: auto;
}
.SNS img{
    margin: auto;
    width:100px;
    height:100px;
    transition: all 2s linear 0s;
    border-radius: 50%;
    cursor: pointer;
}

.SNS img:hover{
    transform: rotateZ(360deg);
}


/*フッター
-------------------------------------*/
footer {
    background-color: #f7f7f7;
    padding: 5rem 0;
}
footer h4 {
    border-bottom: 3px solid #ccc;
}

/*お問い合わせ
-------------------------------------*/
.contact-box {
	border: 1px solid #ccc;
	text-align: center;
	padding: 2rem 0;
}

.contact-box img{
 
    transition: all 1s linear 0s;
    cursor: pointer;
}
.contact-box img:hover{
    transform:rotateX(360deg);
}



.table {
	margin: 4rem 0;
}
.table th {
	width: 250px;
}
.end-message {
    display: none;
  }
  
  .false-message {
    display: none;
  }

/*コピーライト
-------------------------------------*/
.copyright {
    text-align: center;
    padding: 1rem 0;
    background-color: #000;
}
.copyright a {
    color: #fff;
    text-decoration: none;
	display: inline;
}

/*ページトップへ戻るボタン
-------------------------------------*/
#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#pagetop a {
    display: block;
    background: #000;
    color: #fff;
    width: 50px;
    padding: 10px 5px;
    text-align: center;
}
#pagetop a:hover {
    background: #666;
}

/* 幅768px以下の表示
-------------------------------------*/
@media screen and (max-width: 768px){
	
/*ヘッダー
-------------------------------------*/
.header-box {
	display: none;
}	
/*お問い合わせ
-------------------------------------*/
.table th {
	width: 100%;
	display: block;
}	
.table td {
	display: block;
}
}
